* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: Arial, Helvetica, sans-serif;
   color: #383838;
}

.wrapper {
   height: 100vh;
   /* overflow: hidden; */

   display: flex;
   flex-direction: column;
}
.header {
   padding: 10px 0;
   background-color: rgb(255, 232, 178);
}
.footer__row,
.header__row {
   display: flex;
   justify-content: center;
   align-items: center;
}
.container {
   max-width: 1140px;
   padding: 0 15px;
   margin: 0 auto;
}

.title {
   font-size: 24px;
}
.header__title,
.footer__title {
   text-align: center;
}
.content {
   flex-grow: 1;
   padding: 20px 0;
}

.content__wrap {
   padding: 15px;
   border: 1px solid #cacaca;
   border-radius: 6px;
}

/* cell */

.cell__title {
   margin-bottom: 10px;
   text-align: center;
}
.cell__rules {
   padding: 10px;
   margin-bottom: 10px;
   border: 1px solid tan;
   border-radius: 6px;
}
.cell__rules p {
   padding-bottom: 5px;
   text-align: justify;
   text-align: center;
}
.cell__game {
   padding: 10px;
   border: 1px solid tan;
   border-radius: 6px;

   display: flex;
   flex-direction: column;
}
.cell__start,
.cell__restart {
   height: 30px;
   border: 1px solid gray;
   border-radius: 6px;
   background-color: #ffebd2;

   margin-bottom: 10px;

   cursor: pointer;

   transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
.cell__start:hover,
.cell__restart:hover {
   background-color: rgb(178, 115, 33);
   color: white;
   transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
.cell__info {
   text-align: center;
   margin-bottom: 10px;
}

.cell__count {
   display: none;
   text-align: center;
   margin-bottom: 10px;
}
.cell__count--active {
   display: block;
}

.cell__timer {
   text-align: center;
   margin-bottom: 10px;
}

.cell__table table {
   width: 100%;
}
.cell__td {
   text-align: center;
   background-color: rgb(252, 206, 146);
}
.cell__td--red {
   background-color: red;
}
.cell__td--green {
   background-color: green;
}
.cell__table td {
   height: 30px;
   border: 1px solid tan;
   border-radius: 6px;

   cursor: pointer;
}
.cell__restart {
   margin-top: 40px;
}

/* footer */

.footer {
   padding: 10px 0;
   background-color: rgb(215, 215, 215);
}
